#stats {
    width: 90vw;
    position: absolute;
    z-index: 30;
    color: white;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#info, #selectType {
    position: absolute;
    bottom: 30px;
    margin: 0 auto;
    z-index: 20;
    color: white;
    padding: 30px 20px 0 20px;
    width: 90vw;
    display: inline;
    justify-content: center;
    text-align: center;
}

#stat-bar {
    position: absolute;
    z-index: 20;
    background-color: rgb(203, 203, 203);
    width: 100vw;
    height: 50px;
    opacity: 0.3;
}

#notification-bar {
    position: absolute;
    bottom: 0;
    z-index: 20;
    background-color: rgb(203, 203, 203);
    width: 100vw;
    height: 70px;
    opacity: 0.3;
}

.noticeboard text{
    font-size: 20px
}